<!DOCTYPE html>
<div class= "container-fluid col-12">
	<nav id="nav" class= "nav border-secondary rounded">
		<a class= "nav-link" href="/">home</a>
		<a class= "nav-link" href="/myforms">my forms</a>
		<a class= "nav-link ml-auto" id= "logout" href="/loggedout">logout</a>
	</nav>
</div>