<!DOCTYPE html>
<html lang=en>
	<head>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	    <!-- own styling -->
	    <link rel="stylesheet" href="../styles/base.css">
		<title>Staty by JotForm</title>
	</head>

	<body>

		<% include partials/nav.ejs %>
		
		<div id="form-info" class= "container col-11">
		</div>

		<div class="container col-11" id="table" align="left">
			<p>Submissions:</p>
			<table class="table table-hover table-dark">
			  	<thead>
			    	<tr>
					    <th scope="col" id="name"> <a href="#" onclick="sortTableText(0);"> ▼ </a>name:</th>
					    <th scope="col" id="email"> <a href="#" onclick="sortTableText(1);"> ▼ </a>e-mail:</th>
					    <th scope="col" id="total"> <a href="#" onclick="sortTableText(2);"> ▼ </a>total paid:</th>
				    </tr>
			  	</thead>
			 	<tbody id="inner-table">
			  	</tbody>
			</table>
		</div>

		<!-- axios, d3 and own script -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="../scripts/form.js"></script>

		<script>
			// getting form id from url
			const formID = <%= id %>;
			var formInfo = [];
			// sorter for the table
			function sortTableText(n) {
				sortText(n);
			}
			// JotForm authentication
			window.addEventListener("load", function(){
				var apiKey;
				if (window.localStorage.getItem("apiKey")) {
					var apiKey = window.localStorage.getItem("apiKey");
				}
				else {
					JF.login(
				    	function success(){
				    		var apiKey = JF.getAPIKey();
			 	        	window.localStorage.setItem("apiKey", apiKey);
			 			},
				        function error(err){
				        	console.log(err);
							window.alert("oops something went wrong, or not.");
						}
			    	);
				}
				// setting up form info
				if (setForm(formID)) formInfo = setForm(formID);
				else window.alert("oops something went wrong, or not.");
				// editing page
				editHeader();
				getFormSubmissions(formID, apiKey);
			});
		</script>
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	    
		
	</body>
</html>

