<!DOCTYPE html>
<html lang=en>
	<head>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	    <!-- own styling -->
	    <link rel="stylesheet" href="../styles/base.css">
		<title>Staty by JotForm</title>
	</head>

	<body>

		<% include partials/nav.ejs %>

		<div class= "container col-11" id="table" align="left">
			<p id="choose-form">Choose a form you want to see the stats of:</p>
			<table class="table table-hover table-dark">
			  	<thead>
			    	<tr>
					    <th scope="col"> <a href="#" onclick="sortTableText(0);"> ▼ </a> form name:</th>
					    <th scope="col"> <a href="#" onclick="sortTableText(1);"> ▼ </a> still accepting payments?</th>
					    <th scope="col"> <a href="#" onclick="sortTableText(2);"> ▼ </a> total earnings:</th>
					    <th scope="col"> <a href="#" onclick="sortTableText(3);"> ▼ </a> payment type:</th>
					    <th scope="col"> <a href="#" onclick="sortTableText(4);"> ▼ </a> payment gateway:</th>
				    </tr>
			  	</thead>
			 	<tbody id="inner-table">
			  	</tbody>
			</table>
		</div>


		<div class= "container col-11" id="graph" align="left">
			<p>You can compare your forms by their types, gateways and total earnings. All you have to do is choose a field below and your graph will be there for you to see.</p>
			<div class="dropdown">
			  	<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Choose a field </button>
			  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="#" onclick="showEarnings();">total earnings</a>
				    <a class="dropdown-item" href="#" onclick="showTypes();">payment type</a>
				    <a class="dropdown-item" href="#" onclick="showGateways();">payment gateway</a>
			  	</div>
			</div>
			<svg id="bar-chart"></svg>
		</div>

		<!-- d3, JotForm and own script -->
		<script src= "https://d3js.org/d3.v5.min.js"></script>
		<script src= "https://js.jotform.com/JotForm.js"></script>
		<script src= "../scripts/stats.js"></script>

	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <script>
	    	function changeButtonText(){
	    		var buttonText = document.querySelector("#dropdownMenuButton");
	    		buttonText.innerHTML = "Change field";
	    	}
	    	function showEarnings() {
	    		changeButtonText();
	    		earningsCharter();
	    	}
	    	function showGateways() {
	    		changeButtonText();
	    		gatewaysCharter();
	    	}

	    	function showTypes() {
	    		changeButtonText();
	    		typesCharter();
	    	}

			function sortTableText(n) {
				sortText(n);
			}
		</script>
	</body>
</html>

