<!DOCTYPE html>
<html lang=en>
	<head>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	    <!-- extra styling -->
	    <link rel="stylesheet" href="../styles/base.css">
		<title>Staty by JotForm</title>
	</head>

	<body>

		<% include partials/nav.ejs %>

		<div class= "container col-11" id="table" align="left">
			<p id="best-form"></p>
			<p id="choose-form">Choose a form you want to see the stats of:</p>
			<table class="table table-hover table-dark">
			  <thead>
			    <tr>
				    <th scope="col"> <a href="" onclick="sortTableText(0); return false"> ▼ </a> form name:</th>
				    <th scope="col"> <a href="" onclick="sortTableText(1); return false"> ▼ </a> still accepting payments?</th>
				    <th scope="col"> <a href="" onclick="sortTableText(2); return false;"> ▼ </a> total earnings:</th>
			    </tr>
			  </thead>
			  <tbody id="inner-table">
			  </tbody>
			</table>
		</div>


		<div class= "container col-11" id="graph" align="left">
			<p>Here you can see a bar chart of your earnings for each form:</p>
			<svg id="bar-chart"></svg>
		</div>


		<!-- Optional JavaScript -->
		<script src= "https://d3js.org/d3.v5.min.js"></script>

		<script src= "https://js.jotform.com/JotForm.js"></script>
		
		<script src= "../scripts/stats.js"></script>
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <script>
			function sortTableText(n) {
				var table, rows, switching, i, x, y, shouldSwitch, direction, switchcount = 0;
				table = document.querySelector("#inner-table");
				switching = true;
				direction = "asc"; 

				while (switching) {
					switching = false;
					rows = table.rows;

					for (i = 0; i < (rows.length) - 1; i++) {
				  		shouldSwitch = false;
				  		x = rows[i].getElementsByTagName("td")[n].innerHTML;
				 		y = rows[i + 1].getElementsByTagName("td")[n].innerHTML;

				  		if (direction == "asc") {
				  			if (x[0] === "<" && x[30] === ">") {
						  			if (x.slice(31).toLowerCase() > y.slice(31).toLowerCase()) {
							  		shouldSwitch = true;
							  		break;
								}
					  		}
					  		else if (x == "yes" || x == "no") {
								if (x.toLowerCase() > y.toLowerCase()) {
							  		shouldSwitch = true;
							  		break;
					  			}
							}
					  		else if (parseFloat(x.split(" ")[0]) > (parseFloat(y.split(" ")[0]))){
					  			shouldSwitch = true;
					  			break;
					  		}
					  	} 
					  	else if (direction == "desc") {
					  		if (x[0] === "<" && x[30] === ">") {
						  			if (x.slice(31).toLowerCase() < y.slice(31).toLowerCase()) {
							  		shouldSwitch = true;
							  		break;
								}
					  		}
					  		else if (x == "yes" || x == "no") {
					  			if (x.toLowerCase() < y.toLowerCase()) {
							  		shouldSwitch = true;
							  		break;
					  			}
							}
					  		else if (parseFloat(x.split(" ")[0]) < (parseFloat(y.split(" ")[0]))){
					  			shouldSwitch = true;
					  			break;
					  		}
					  	}
					}
					if (shouldSwitch) {
					  	rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					  	switching = true;
					  	switchcount ++; 
					} 
					else {
					  	if (switchcount == 0 && direction == "asc") {
							direction = "desc";
							switching = true;
					  	}
					}
			  	}
			}
		</script>
	</body>
</html>

