:root {
	--main-light: #fa8900;
	--main-dark: #434343;
	--main-text: white;
}

body {
	background: var(--main-dark);
	padding: 30px;
	text-align: justify;
	color: var(--main-text);
}

#header {
	margin-top: 40px;
	color: var(--main-text);
	font-style: bold;
	text-align: center;
}

#note {
	font-style: italic;
	color: var(--main-light);
	margin-top: -10px;
	margin-right: 60px;
	margin-left: -10px;
	text-align: center;
}

#intro {
	margin-top: 36px;
}

#nav {
	background-color: var(--main-light);
	margin-bottom: 40px;
}

#nav a {
	color: var(--main-text);
}

#nav a:hover, a:active {
	color: var(--main-dark);
}

#graph {
	overflow: scroll;
	margin-top: 30px;
}

svg {
	margin-top: 20px;
}

#bar-chart g text {
	fill: var(--main-text);
}

#bar-chart g rect {
	fill: var(--main-light);
}

a .sorter {
	color: var(--main-light);
}

h1 {
	font-size: 48px;
	letter spacing: 2px;
}

h2 {
	margin-bottom: 30px;
}

p {
	font-size: 16px;
	color: var(--main-text);
}

a {
	color: var(--main-light);
}

a:hover, a:active{
	color: var(--main-text);
	text-decoration: none;
}

.table-link {
	color: var(--main-text);
}

.table-link:hover, .table-link:active  {
	color: var(--main-light);
	text-decoration: none;
}

.table-link-active:hover, .table-link-active:active  {
	color: var(--main-light);
	text-decoration: none;
}

.table-link-active {
	color: var(--main-light);
	text-decoration: none;
}

